body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    /* Нестандартний фон */
    background: url("https://www.transparenttextures.com/patterns/white-wall.png");
}

header {
    text-align: left;
    padding: 40px;
    margin-left: 30px;
}

header h1 {
    font-family: 'Rubik Distressed', cursive;
    font-size: 48px;
}

header p {
    font-size: 20px;
}

.animals {
    width: 90%;
    margin: auto;
}

.block {
    margin-bottom: 40px;
}

.block img {
    width: 350px;
    border-radius: 15px;
    display: block;
    margin-bottom: 20px;
}

.block p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    opacity: 0.7;
}
